:root {
  --background-color: rgb(236, 236, 236);
  --text-color: rgb(111, 0, 167);
  --code-font: "Courier New", Courier, monospace;
  --header-border: 1px solid white;
  --card-border: 1px dashed white;
}

* {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  text-align: center;
}

.header-title {
  margin: 2rem 1rem 2rem 1rem;
  font-size: 2.6rem;
}

.header-text {
  margin: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  width: 100%;
  gap: 1rem;
}

.card {
  border: 1px solid #000;
}


/* Footer */
.footer {
  text-align: center;
  margin-top: 2rem;
}